/*GLOBAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    /* Pattern from https://www.heropatterns.com/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #1e272e;
    color: #fff;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
  
ul {
    list-style: none;
}

main {
    width: 90%;
    margin: auto;
}

/*Navigation*/
.topnav {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 40px;
}

.topnav ul {
    display: flex;
}
  
.topnav ul li {
    padding: 10px;
}
  
.topnav ul li a {
    padding: 2px;
}
  
.topnav ul li a:hover {
    border-bottom: 2px solid #fff;
}
  
.topnav ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
  
hr {
    margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
    background: #808e9b;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

/*main-section styles*/

.main-section {
    width: 70%;
}

/* SHOWCASE */

.showcase {
    width: 100%;
    height: 400px;
    background: url("../img/gerd-altmann-en-pixabay.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
}
  
.showcase h1 {
    margin-bottom: 10px;
}

/* ARTICLE */

article > h1 {
    /*Spectral Regular 400 */
    font-family: 'Spectral', serif;
    font-size: 40px;
    margin: 15px 0;
}

article > h2 {
    /*Spectral Regular 400 */
    font-family: 'Spectral', serif;
    font-size: 32px;
    margin: 15px 0;
}

article h3 {
    /*Spectral Regular 400 */
    font-family: 'Spectral', serif;
    font-size: 26px;
    margin: 15px 0;
}

article > p {
    /*Karla extra-light 200 */
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 30px;
}

article > p > a {
    color: #ffc048;
}

/*Estilos de los productos varios */

.productos {
    overflow: hidden;
}

.productos > .card-productos {
    border: 1px solid #d2dae2;
    padding: 0;
    margin: 10px 0 10px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.productos > .card-productos > a > img {
    width: 100px;
}

.productos > .card-productos > a {
    padding: 0;
    margin: 10px;
}

.productos > .card-productos > div {
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 10px;
    display: block;
}

.card-productos > div > b > a{
    color: #3c40c6;
    text-decoration: none;
}

.card-productos > div > a {
    color: #1e272e;
    text-decoration: none;
    background-color: #ffc048;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 16px;
    float: left;
}

.card-productos > div > a:hover {
    background-color: #ffa801;
}

.card-productos {
    box-shadow: 0px;
    transition: 0.5s;
}

.card-productos:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Follow */
.social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.links a {
    margin: 0 30px;
}
  
.links a i {
    font-size: 3rem;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url("../img/card-banner-two.jpg") no-repeat center center/cover;
    margin: 30px 0;
}

.cards-banner-two .content {
    width: 70%;
    padding: 100px 0 0 30px;
}

.cards-banner-two p {
    margin: 10px 0 20px 0;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
}
  
.btn:hover {
    opacity: 0.9;
}

/*FOOTER*/

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}


/*MOBIL*/
@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.9;
    }

    .topnav ul.nav-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .topnav ul.nav-menu li {
        padding: 20px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .topnav ul.nav-menu li:last-child {
        border-bottom: 0;
    }

    .topnav ul.nav-menu.show {
        transform: translateX(-20px);
    }
    .main-section {
        width: 100%;
    }

    article > h1 {font-size: 36px;}

    article > h2 {font-size: 32px;}

    article > h3 {font-size: 28px;}

    article > p {font-size: 23px;}

    .cards-banner-two .content {
        width: 90%;
    }
    
}
